*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
--Softred: hsl(7, 99%, 70%) ;
--Yellow: hsl(51, 100%, 49%) ;
--Darkdesaturatedcyan: hsl(167,40%,24% );
--Darkmoderatecyan: hsl(168, 34%, 41%);
}

body{
    font-family: 'Barlow', sans-serif;
    font-family: 'Fraunces', serif;
}
nav{
    display: flex;
    align-items: center;
    padding: 20px;
}
header{
    background-image: url(/image/image-header.jpg);
    
    margin: auto;
    background-size: cover;
    background-position: center;
    height: 100vh;
    position: relative;

}
ul{
    flex: 1;
    text-align: right;
    list-style-type: none;
    display:inline ;
}
ul li{
    display: inline ;
    margin-right: 20px;
}
button{
    padding: 8px 20px;
    border-radius: 30px;
    border: 2px solid white;
font-size: 14px;
font-weight: bolder;
background: transparent;
color: aliceblue;
}
header h1{
    text-align: center;
    color:antiquewhite;
    margin-top: 40px ;
    font-size: 50px ;
    letter-spacing: 3px;
}
.arrow{
    position:absolute;
    left: 50%;
    top: 40%;
}
main{
display: flex;
align-items: center;
flex-wrap: wrap;

}
.cover, .col-image{
    flex-basis: 50%;
    position: relative;
}
.col-image img{
    width: 100%;
}
.col-text{
    margin: auto;
    font-size: large;
    display: flex;
    flex-direction: column;
    width: 75%;
}
.col-text h3{
    font-size: 30px;
    font-weight: 600;

}
.col-text small{
    margin: 30px 0px;
    line-height: 20px;
    width: 85%;
    font-size: 18px;
    color:hsl(167, 46%, 24%) ;
}
.col-text a{
    border-bottom: 2px solid yellow;
    width: fit-content;
text-decoration: none;
color: black;
}
.col-image img{
    width: 100%;
}
.comment{
    position:absolute;
    top: 55%;
    width: 60%;
    left: 20%;
    text-align: center;
    color:hsl(167,40%,24% );
}
.comment h5{
    margin: 30px 0px;
    font-size: 25px;
}
.comment small{
    font-size: 15px;
}
.viewpic{
    margin-top: -4px;
}
.testimonia-row{
    display: flex;
    /* flex-direction: row; */
    width: 100%;
}
.testimonial-col{
    width: 50%;
    /* align-items: center; */
text-align: center;

}
.testimonial-col img{
    border-radius: 100%;
width: 20%;
}
.heading{
    text-align: center;
    color: var(--Darkdesaturatedcyan);
}
article{
    padding: 100px 100px;
    background-color: red;
    margin-top: -4px;
}
.testimonial-col p{
    margin: 40px auto ;
    font-size: 15px;
    width: 260px;
}
.gallery{
    display: flex;
}
.gallery img{
    width: 25%;
}
footer{
    background-color: var(--Darkdesaturatedcyan);
    text-align: center;
    padding: 30px 0px;
}
footer h4{
    font-size: 30px;
    font-weight: 700;
}
.footer-link p{
    display: inline-block;
    margin: 30px 20px;
    font-size: 20px;

}
.icons .fa{
    font-size: 25px;
    margin: 0px 10px;
    color:yellow;
/* color: var(--Darkmoderatecyan); */
}