*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    margin: 0px 0px;
    font-family: 'Fraunces', serif;
    font-family: 'Barlow', sans-serif;
}
:root{
    --Softred: hsl(7, 99%, 70%);
    --Yellow: hsl(51, 100%, 49%);
    --Darkdesaturatedcyangraphicdesigntext: hsl(167, 40%, 24%);
    --Darkbluephotographytext: hsl(198, 62%, 26%);
    --Darkmoderatecyanfooter: hsl(168, 34%, 41%);
    --Verydarkdesaturatedblue: hsl(212, 27%, 19%);
    --Verydarkgrayishblue: hsl(213, 9%, 39%);
    --Darkgrayishblue: hsl(232, 10%, 55%);
    --Grayishblue: hsl(210, 4%, 67%);
    --White: hsl(0, 0%, 100%);
}
/* ---header selection--- */
nav{
    display: flex;
    align-items: center;
    padding: 20px;
}
header{
    background-image: url(/image/image-header.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
    position: relative;

}
.logo{
    flex:1;
}
ul{
    flex: 1;
    text-align: right;
    list-style: none;
    font-size: 15px;
}
ul li{
    display: inline-block;
    padding: 0px 5px;
    font-family: 'Barlow', sans-serif;
    font-weight: 600;
}
button{
    padding: 8px 20px;
    border-radius: 20px;
    border: 2px solid #fff;
    border-style: none;
    font-size: 12px;   
    font-weight: bold;
    background-color: #fff;
    font-family: 'Fraunces', serif;
    font-weight: 700;
}
button:hover{
    background-color: lightblue;
    cursor: pointer;
    color: black;
}

h1{
    text-align: center;
    margin-top:40px;
    color: #fff;
    font-size: 50px;
    letter-spacing: 4px;
    font-family: 'Fraunces', serif;
    font-weight: 900;
}
.arrow{
    position: absolute;
    left: 50%;
    top: 40%;
}

/* --- main selection--- */

main{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.cover, .col-image{
    flex-basis: 50%;
    position: relative;
}
.col-image img{
    width: 100%;
}
.cover, .col-text{
    display: flex;
    flex-direction: column;
    width: 75%;
    margin: auto;
}
.col-text h3{
    font-family: 'Fraunces', serif;
    font-weight: 900;
    font-size: 30px;
}
.col-text small{
    font-family: 'Barlow', sans-serif;
    font-weight: 600;
    color: var(--Grayishblue);
    margin: 30px 0px;
    width: 85%;
    line-height: 20px;
}
.col-text a{
    font-family: 'Fraunces', serif;
    font-weight: 700;
    border-bottom: 3px solid yellow;
    width: fit-content;
    text-decoration: none;
}
.comment{
    position: absolute;
    top: 55%;
    width: 45%;
    text-align: center;
    left: 30%;
    color: var(--Darkmoderatecyanfooter);
}
.comment h5{
    font-family: 'Fraunces', serif;
    font-weight: 900;
    font-size: 20px;
    margin: 30px 0px;
}
.comment small{
    font-family: 'Barlow', sans-serif;
    font-weight: 600;
}
.viewpic{
    margin-top: -4.5px;
}

/* --- article section --- */

article{
    display: flex;
    flex-direction: column;
    padding: 100px;
    background-color: hsl;
    margin-top: -4px;
}
.testimonial{
    text-align: center;
    font-family: 'Fraunces', serif;
    font-weight: 700;
    letter-spacing: 2px;
    font-size: 20px;
    color: var(--Grayishblue);

}
.info{
    align-items: center;
    flex: 1;
    display: flex;
    text-align: center;
    padding-top: 50px;
}
.info img{
    border-radius: 50%;
    width: 100px;
    margin-top: 20px;
}
p{
    padding: 30px 40px;
    font-family: 'Barlow', sans-serif;
    font-weight: 600;
    font-size: 14px;
    color: var(--Verydarkgrayishblue);
    line-height: 25px;
}
b{
    font-family: 'Fraunces', serif;
    font-weight: 900;
    color: black;
}
.info small{
    color: var(--Grayishblue);
    font-family: 'Barlow', sans-serif;
    font-weight: 600;
}
/* --- footer section --- */
footer{
    display: flex;
    flex-direction: column;
    background-color: var(--Darkmoderatecyanfooter);
}
.footer-image{
   display: flex;
   flex-direction: row;
}
.footer-image img{
    width: 25%;
}
.footer-text{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 0px;
}
.footer-text ul{
    color: var(--Darkdesaturatedcyangraphicdesigntext);
    padding: 40px 0px;
    font-size: 13px;
    font-family: 'Barlow', sans-serif;
    font-weight: 600;
}
.footer-text li{
    padding: 0px 20px;
    font-size: 15px;
}
.icon .fa{
    font-size: 25px;
    margin: 0px 10px;
    color: var(--Darkdesaturatedcyangraphicdesigntext);
}